<h1 class="mb-1 restaurant-show-title">{{item.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-10 col-md-10 mx-auto mb-5">

      <form
        action="/restaurants/{{item._id}}/edit"
        method="POST"
        class="d-flex flex-column justify-content-center needs-validation"
        novalidate
      >

        <p class="mb-3">
          <span class="text-secondary">
            <i class="fa fa-building pr-2"></i>
            餐廳名稱：
          </span>
          <input
            type="text"
            class="form-control mt-2"
            name="name"
            value="{{item.name}}"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </p>

        <p class="mb-3">
          <span class="text-secondary">
            <i class="fa fa-cutlery pr-2"></i>
            類別：
          </span>
          <input
            class="form-control mt-2"
            type="text"
            name="category"
            value="{{item.category}}"
          />
        </p>

        <p class="mb-3">
          <span class="text-secondary">
            <i class="fa fa-map-marker pr-2"></i>
            地址：
          </span>
          <input
            type="text"
            name="location"
            value="{{item.location}}"
            class="form-control mt-2"
            required
          />
        </p>

        <p class="mb-3">
          <span class="text-secondary">
            <i class="fa fa-location-arrow pr-2"></i>
            Google Map：
          </span>
          <input
            name="google_map"
            type="text"
            value="{{item.google_map}}"
            class="form-control mt-2"
          />
        </p>

        <p class="mb-3">
          <span class="text-secondary">
            <i class="fa fa-phone pr-2"></i>
            電話：
          </span>
          <input
            name="phone"
            type="number"
            value="{{item.phone}}"
            class="form-control mt-2"
            required
          />

        </p>

        <p class="mb-3">
          <span class="text-secondary">
            <i class="fa fa-commenting pr-1"></i>
            餐廳敘述：
          </span>
          <textarea
            name="description"
            type="text"
            class="form-control mt-2"
            style="height: 100px"
          >{{item.description}}</textarea>
        </p>

        <p class="mb-5">
          <span class="text-secondary">
            <i class="fa fa-picture-o pr-2"></i>
            圖片：
          </span>
          <input
            name="image"
            type="text"
            value="{{item.image}}"
            class="form-control mt-2"
            required
          />
        </p>

        <div
          class="edit-wrapper mb-4 d-flex align-items-center justify-content-center"
        >
          <a class="text-info" href="/restaurants/{{item._id}}">Back</a>
          <button type="submit" class="btn btn-info">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>