<!-- search bar -->
<div class="container search-bar function-bar">
  <div class="row d-flex justify-content-around">
    <div class="search-bar-inner col-4 mt-5">
      <form action="/restaurants/search">
        <div class="input-group">
          <input
            type="text"
            name="keyword"
            class="form-control"
            placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..."
            value="{{keyword}}"
            aria-describedby="search-button"
          />
          <div class="input-group-append">
            <button class="btn btn-info" type="submit" id="search-button"><i
                class="fa fa-search"
              ></i></button>
          </div>
        </div>
      </form>
    </div>

    <div class="search-bar-inner col-4 mt-5">
      <form action="/">
        <div class="dropdown btn-group w-75">
          <button
            class="btn btn-info dropdown-toggle"
            type="button"
            id="dropdownMenu2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenu2">
            <li><button
                class="dropdown-item"
                type="submit"
                name="sort"
                value="A -> Z"
              >A -> Z</button></li>
            <li><button
                class="dropdown-item"
                type="submit"
                name="sort"
                value="Z -> A"
              >Z -> A</button></li>
            <li><button
                class="dropdown-item"
                type="submit"
                name="sort"
                value="category"
              >類別</button></li>
            <li><button
                class="dropdown-item"
                type="submit"
                name="sort"
                value="location"
              >地區</button></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container pt-5 pb-5">
  <div class="row mx-auto card-columns d-flex flex-wrap justify-content-around">
    {{#each item}}
      <div
        class="wrapper d-flex align-items-end flex-column col-10 col-sm-5 col-md-3 p-0 m-1"
      >
        <a href="/restaurants/{{this._id}}" class="text-secondary w-100">
          <div class="card mb-3">
            <img
              class="card-img-top"
              src="{{this.image}}"
              alt="{{this.name}}"
            />
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>
                {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fa fa-star fa-xs"></i>
              </span>
            </div>
          </div>
        </a>
        <div class="edit-wrapper mb-4 d-flex align-items-center">
          <a class="text-info" href="./restaurants/{{this._id}}/edit">Edit</a>
          <a class="text-info" href="./restaurants/{{this._id}}">Detail</a>
          <form
            action="./restaurants/{{this._id}}?_method=DELETE"
            method="POST"
            style="display: inline;"
            class="mb-0"
          ><button
              type="submit"
              class="btn btn-info btn-sm"
            >Delete</button></form>
        </div>
      </div>
    {{/each}}
  </div>
</div>